
.login-bg {
  --background: linear-gradient(135deg, #07467e, #00f2fe);
}

.login-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}

.profile-default-image img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-bottom: 10px;
  animation: fadeDown 1.2s ease-out;
}

.profile-default-image p {
  color: white;
  font-size: 16px;
  margin-bottom: 20px;
  animation: fadeDown 2.2s ease-out;
}


.login-card {
  background: rgba(19, 14, 14, 0.95);
  backdrop-filter: blur(10px);
}


  
.login-btn {
  margin-top: 20px;
  --border-radius: 50px;
}

@keyframes cardEntrance {
  0% {
    opacity: 0;
    transform: translateY(80px) scale(0.94);
  }
  70% {
    opacity: 1;
    transform: translateY(-2px) scale(1.02);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

ion-content {
  transition: background 0.6s ease-in-out;}
