<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      INTRO 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <swiper-container
    class="onboardingSwiper"
    pagination="true"
    loop="true"
    navigation="true"
  >

    
    <swiper-slide swiperSlide *ngFor="let genre of genres">
       <div class="slide-content">
         <h2 [style.color]="colactualtitulo">{{ genre.title }}</h2>
         <img [src]="genre.image" [alt]="genre.title">
         <p [style.color]="colclatexto">{{ genre.description }}</p>


         <ion-button expand="block" class="start-btn" (click)="goHome()">
          Empezar
         </ion-button>
        
        
         
        </div>
    </swiper-slide>

  </swiper-container>
</ion-content>