<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      INTRO 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  fullscreen class="intro-bg">
  <swiper-container
    class="onboardingSwiper"
    pagination="true"
    navigation="true">

    
    <swiper-slide swiperSlide *ngFor="let genre of genres">
       <div class="slide-content">
         <h2 >{{ genre.title }}</h2>
         <img [src]="genre.image" [alt]="genre.title">
         <p >{{ genre.description }}</p>
         


         <ion-button expand="block" class="start-btn" (click)="goHome()">
          Empezar
         </ion-button>
         <ion-card *ngIf="genre === genres[0]" ... class="welcome-card ion-padding ion-text-center ion-align-items-center">
          <ion-card-content>
            🎧 Descubre nuevos sonidos
            
          </ion-card-content>
        </ion-card> 
        
         
        </div>
    </swiper-slide>

  </swiper-container>
</ion-content>