// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
    --color-claro: #c08787;
    --color-oscuro:#c70707;
    --espaciado-base: 2rem;
    --color-claro-home:#fff;
    --color-oscuro-home:#310dd1;
    --color-claro-fondo:#3f343402;
    --color-oscuro-fondo:linear-gradient(135deg, #07467e, #00f2fe);
    --color-claro-texto:#fff;
    --color-oscuro-texto:#06060cd0;
    --color-claro-titulo:#ece5e5;
    --color-oscuro-titulo:#04040a;
}
