.onboardingSwiper {
  height: 100%;
}

.intro-bg{
--background: linear-gradient(135deg, #07467e, #00f2fe);
}

.slide-content {
  height: 100%;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: row;
  text-align: center;
}

.img-anim {
  width: 220px;
  margin-bottom: 30px;
  animation: fadeUp 0.8s ease forwards;
  

}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
  animation: fadeUp 1s ease forwards;
}

.text {
  font-size: 16px;
  color: #666;
  max-width: 150px;
  animation: fadeUp 1.2s ease forwards;
}

.start-btn {
  margin-top: 10px;
  width: 30%;
  animation: fadeUp 1.4s ease forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
