<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title [style.--color]="colactualhome">
      HOME
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [style.--background]="colactualfondo">
  <swiper-container
    pagination="true"
    slides-per-view="3"
    loop= "true">
    <swiper-slide swiperSlide *ngFor="let artist of artists" (click)="showSongsArtist(artist.id)" >    
        <img [src]="artist.image"/>
        <p [style.color]="colactualtitulo">{{ artist.name }}</p>
     
    </swiper-slide>
       
    
  </swiper-container> 
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-start">{{formatTime(currentSong?.currentTime) || "0:00"}}</ion-col>
      <ion-col class="ion-text-end">{{formatTime(getRemainingTime()) || "0:00"}}</ion-col>

    </ion-row>
  </ion-grid>
  <ion-progress-bar [value]="newTime"></ion-progress-bar>
  <ion-grid>
    <ion-row>
      <ion-col size="1">
        <ion-icon [name]="isFavorite ? 'heart' : 'heart-outline'"
           [color]="isFavorite ? 'danger' : 'medium'"
           (click)="toggleFavorite()">
        </ion-icon>
      </ion-col>
      <ion-col size="10">
        <ion-text>{{song.name || "N/A"}}</ion-text>
      </ion-col>
      <ion-col size="1">
        <ion-icon name="play" *ngIf="!song.playing" (click)="play()"></ion-icon>
        <ion-icon name="pause" *ngIf="song.playing" (click)="pause()"></ion-icon>
      </ion-col> 
    </ion-row>
  </ion-grid>
</ion-footer>